<div class="container">
  
  
  <h4 class="h4">Serviços</h4>
  <p class="form-text  text-muted"> * Selecione o serviço e informe o valor.</p>
  
  <div class="form-group col-md-6">
    <label class="control-label">Serviço:</label>
    <select [(ngModel)]='servico1' class="form-control ">
      <option id="servicoText" for="servico1" [ngValue]=servico name="servico1" *ngFor="let servico of servicos">
        {{servico.descricao}}
      </option>
    </select>
  </div>
  
  <div class="form-group  col-md-6">
    <label class="control-label">Valor:</label>
    <input id="valorText" class="form-control input-md" type="text" [(ngModel)]="valor1">
  </div>
  
  <div class="form-group">
    <button (click)="salvar()" class="btn btn-success">Efetivar Transação</button>
  </div>
  
</div>