<div class="wrapper">
	<div class="topicos">
		<div class="container">
			<div class="row">
				<div class="col-3">
					<ul class="topicos-footer">
						<h6>{{title}}</h6>
						<li>#Respeito</li>
						<li>Carreiras</li>
					</ul>
				</div>
				<div class="col-3">
					<ul class="topicos-footer">
						<h6>Para você</h6>
						<li>Abra sua conta</li>
						<li>Cartões</li>
					</ul>
				</div>
				<div class="col-3">
					<ul class="topicos-footer">
						<h6>Desenvolvedores</h6>
						<li>Soluções para você</li>
						<li>Comunidade</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer class="rodape">
		<p class="text-center">&copy; Todos os Direitos reservados a
			<b>{{title}}</b>
		</p>
	</footer>
</div>